<app-header></app-header>
<h2>Login Form</h2>

<form class="mt-5">

  <div class="text-align-center text-center">
    <h3><b>XXXX</b></h3>

    <button type="submit" class="withdraw" (click)="connectToMetaMask()" *ngIf="isStep1 == false">Connect</button>

  </div>

</form>

<div class="container">
  <div class="row">
    <div class="col-md-8 text-align-center text-center">
      <div class="row">
        <div class="col-md-3 text-align-center text-center">
          <h3> Gov token</h3>
        </div>
        <div class="col-md-3 text-align-center text-center">
          <label> 30</label>
        </div>
        <div class="col-md-3 text-align-center text-center">
          <h3> Gov token</h3>
        </div>
        <div class="col-md-3 text-align-center text-center">
          <label> 30</label>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-align-center text-center">

    </div>
  </div>

</div>
<hr>
<div class="row mb-5">
  <div class="col-md-3 text-align-center text-center">
    <h3> <b>Candidate list </b></h3>
  </div>
</div>

<div class="row mb-5">
  <div class="col-md-1 text-align-center text-center">

  </div>
  <div class="col-md-8 text-align-center text-center">
    <div class="row">
      <div class="col-md-4 text-align-center text-center">
        <h3> 0x5138d8D...9e46d8c177A3</h3>
      </div>
      <div class="col-md-4 text-align-center text-center">
        <h3> 0x5138d8D...9e46d8c177A3</h3>
      </div>
      <div class="col-md-4 text-align-center text-center">
        <h3> 0x5138d8D...9e46d8c177A3</h3>
      </div>
    </div>
  </div>
  <div class="col-md-3 text-align-center text-center">

  </div>
</div>

<div class="row mb-5">
  <div class="col-md-1 text-align-center text-center">

  </div>
  <div class="col-md-8 text-align-center text-center">
    <div class="row">
      <div class="col-md-4 text-align-center text-center">
        <h3> 0x5138d8D...9e46d8c177A3</h3>
      </div>
      <div class="col-md-4 text-align-center text-center">
        <h3> 0x5138d8D...9e46d8c177A3</h3>
      </div>
      <div class="col-md-4 text-align-center text-center">
        <h3> 0x5138d8D...9e46d8c177A3</h3>
      </div>
    </div>
  </div>
  <div class="col-md-3 text-align-center text-center">

  </div>
</div>

<hr>


<div class="row mb-5">
  <div class="col-md-3 text-align-center text-center">

  </div>
  <div class="col-md-3 text-align-center text-center">
    <h3> <b> Initial balance : </b></h3>
  </div>
  <div class="col-md-3 ">
    <h3> 100</h3>
  </div>
  <div class="col-md-3 text-align-center text-center">

  </div>
</div>

<div class="row  mb-5">
  <div class="col-md-2 text-align-center text-center">
    <h3> <b> small : </b></h3>
  </div>
  <div class="col-md-2 text-align-center text-center">
    <h3> 1000 / 3</h3>
  </div>
  <div class="col-md-2 text-align-center text-center">
    <h3> <b> medium : </b></h3>
  </div>
  <div class="col-md-2 text-align-center text-center">
    <h3> 1000 / 4</h3>
  </div>
  <div class="col-md-2 text-align-center text-center">
    <h3> <b> medium : </b></h3>
  </div>
  <div class="col-md-2 text-align-center text-center">
    <h3> 1000 / 5</h3>
  </div>
</div>

<hr>

<div class="row mb-5">
  <div class="col-md-8 text-align-center text-center">
    <div class="row">
      <div class="col-md-4 text-align-center text-center">
        <h3>ETCH</h3>
      </div>
      <div class="col-md-4 text-align-center text-center">
        <input class="form-control" type="text">
      </div>
      <div class="col-md-4 text-align-center text-center">
        <button> Do ETCH</button>

      </div>
    </div>
  </div>
  <div class="col-md-4 text-align-center text-center">

  </div>
</div>
